@keyframes pop-upwards{
  0% {
    transform:matrix(.97,0,0,1,0,12);
    opacity:0;
  }
  20% {
    transform:matrix(.99,0,0,1,0,2);
    opacity:.7;
  }
  40% {
    transform:matrix(1,0,0,1,0,-1);
    opacity:1;
  }
  70% {
    transform:matrix(1,0,0,1,0,0);
    opacity:1;
    }
  100% {
    transform:matrix(1,0,0,1,0,0);
    opacity:1;
  }
}

@keyframes pop-downwards{0%{transform:matrix(.97,0,0,1,0,-12);opacity:0}20%{transform:matrix(.99,0,0,1,0,-2);opacity:.7}40%{transform:matrix(1,0,0,1,0,1);opacity:1}70%{transform:matrix(1,0,0,1,0,0);opacity:1}100%{transform:matrix(1,0,0,1,0,0);opacity:1}}


$toolbar-color: #fafafa;


.md-editor-toolbar {
  background: $toolbar-color;
  color: #bbb;
  cursor: auto;
  border-radius: 5px;
  z-index: 2;
  position: absolute;
  visibility: hidden;
  background: #fafafa;
  transform: scale(0);
  height: 40px;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 0 15px;
  box-shadow: 0 0 25px rgba(#000, .3);
  transition: all .3s ease;
  display: flex;
  align-items: center;
  justify-content: center;

  // transition: top 75ms ease-out,left 75ms ease-out;

  &.md-editor-toolbar--isopen {
    visibility: visible;
    transform: scale(1);
    // transition: top 75ms ease-out,left 75ms ease-out;
    // animation: pop-upwards 180ms forwards linear;
  }

  &.md-editor-toolbar--linkinput {
    // display:block;
    // animation: pop-downwards 200ms forwards linear;

    .RichEditor-show-link-input {
      z-index: 5;
      opacity: 1;
      width: 100%;
    }

    .md-url-input {
      display: block;
    }

    .RichEditor-styleButton {
      transform: scale(0);
    }

    .md-url-input-close {
      transform: translateY(-50%) scale(1);

      &:hover {
        transform: translateY(-50%) scale(1.06);
      }
    }
  }

  .md-url-input {
    box-sizing: border-box;
    display: none;
    width: 100%;
    padding: 5px;
    border: none;
    background: #fafafa;
    font-size: 13px;
    font-weight: 100;
    padding: 0 30px 2px 5px;

    &:focus {
      outline: none;
      // border-color: #50FF4D;
      // background-color: #eee;
    }
  }

  .md-url-input-close {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%) scale(.3);
    color: #fff;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #269CEE;
    font-size: 10px;
    font-weight: 100;
    cursor: pointer;
    transition: all .2s ease;

  }
}

.RichEditor-controls {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.RichEditor-show-link-input {
    overflow: hidden;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: #fafafa;
    z-index: 1;
    border-radius: 20px;
    width: 20px;
    transition: all .3s ease;
    box-sizing: border-box;
    padding: 0 10px;
    opacity: 0;
  }

  &:last-child {
    border-right: none;
  }

  .RichEditor-linkButton {
    text-decoration: none;
  }
}

.RichEditor-styleButton {
  .fa-header {
    &:after {
      font-size: 14px;
      font-family: monospace;
      content: '1';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.RichEditor-styleButton-h2 {
  display: block;
  transform: scale(0.8);
  .fa-header {
    &:after {
      content: '2';
      font-family: monospace;
    }
  }
}

.RichEditor-styleButton {
  cursor: pointer;
  display: inline-block;
  padding: 0 10px;
  font-size: 18px;
  transition: all .3s ease;

  &:hover {
    transform: scale(1.1);
  }

  &:last-child {
    margin-right: 0;
  }

  &.RichEditor-styleButton-bold {
    font-weight: bold;
  }
  &.RichEditor-styleButton-italic {
    font-style: italic;
  }
  &.RichEditor-styleButton-underline {
    text-decoration: underline;
  }
  &.RichEditor-styleButton-strikethrough {
    text-decoration: line-through;
  }

  &.RichEditor-styleButton-heading-one {
    font-size: 95%;
  }
}

// color: #269CEE;
.RichEditor-activeButton {
  color: #666;

  &:hover {
    transform: scale(1.1);
  }
}
